@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Flex:opsz@8..144&display=swap');

:root{
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --boton-padding:  20px, 40px;
}

body {
  font-family: 'Raleway', sans-serif;
  
}

.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px  0;
  max-width: 1200px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.hero{
  height: 100vh;
  background-image: var(--background), url('--/img/imprenta01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;

}

.hero .container{
  padding: 0;
}

.nav{
  display: flex;
  justify-content: flex-end;
  height:70px;
  align-items:  center;
  font-weight: 700;
}

.nav--footer{
  font-weight: 300;
  justify-content: flex-start;
}

.nav--items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
  border: 1px solid #fff;
}

.nav__items--footer{
  padding: 10px;

}

/*hero*/

.hero__container{
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
}

.hero__text{
  width: 80%;
  margin-bottom: 50px;
}

.hero_title{
  font-size: 3.2rem;
}

.hero_subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;

}

.hero__cta{
  display: inline-block;
  background: #fff;
  padding: var(--boton-padding);
  color:  var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.hero_wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/*About*/

.presentation{
  padding-top: 0;
  text-align: center;
}

.presentation__picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.presentation_copy{
  width: 80%;
  margin: 0 auto;
}

.presentation_cta{
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

.about{
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:80px;
  justify-items: center;
  align-items: center;
}

.about__img{
  text-align: center;
}


.about__img--left{
  text-align: left;
}

.about__picture{
  max-width: 80%;
}

.about__paragraph{
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

/*projects*/

.projects{
   background: #f2f2f2;
}

.projects__grid{
   display: grid;
   height: 550px;
   grid-template-areas: 
   "img1 img1 img2 img3"
   "img1 img1 img4 img5";
   gap: 10px;

}

.projects__item{
  position: relative;
  width: 90%;
  height: 90%;
  overflow: hidden;
}

.projects__img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  cursor: pointer;
}

.projects__item:nth-of-type(1){
  grid-area: img1;
}

.projects__item:nth-of-type(2){
  grid-area: img2;
}

.projects__item:nth-of-type(3){
  grid-area: img3;
}

.projects__item:nth-of-type(4){
  grid-area: img4;
}

.projects__item:nth-of-type(5){
  grid-area: img5;
}

.projects__hover{
  position: absolute;
  background: #dc143c8c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(100%);
  cursor: pointer;
  transition: transform .3s ease-in-out;

}

.projects__item:hover .projects__hover{
  transform: translate(0%);
}

.projects__icon{
  margin-top: 10px;
  font-size: 30px;
}

/*nosotros*/

.nosotros__grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.nosotros__item{
  width: 95%;
  margin: 0 auto;
  background: var(--color-secondary);
  box-shadow: 0 8px rgba(66,66,66, .5);
  border-radius: 7px;
  padding: 30px 25px;
  color: white;
  margin-bottom: 50px;

}

.nosotros__person{
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.nosotros__img{
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 500;
  border: 3px solid #fff;
  margin-right: 30px;
}

.nosotros__name{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.nosotros__verification{
  color: #E0AFA0;
  font-weight: 700;
}

.nosotros__review{
  font-weight: 300;

}

/*footer*/

.footer{
  background: var(--color-primary);

}

.footer__grid{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center; 
}

.footer__title{
  font-weight: 400;
  color: #fff;
  font-size: 2rem ;
  margin-bottom: 30px;
  text-align: center;
}

.footer__icons{
  display: flex;
  justify-content: space-evenly;
}

.footer__container-icons{
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  border: 1px solid rgb(22, 21, 21);
  border-radius: 50%;
}

.footer_icons{
color: inherit;
font-size: 30.px;
text-decoration: none;

}

.fab.footer__icons{
  line-height: 60px;
}

/*responsive desing*/

@media screen and (max-width: 800px){
   :root{
    --boton-pading: 18px 40px
   }
   .nav{
    justify-content: space-around;
   }

   .nav__items --cta{
    border: none;

   }
   
   .nav__items{
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
   }

   .nav__items--footer{
    border: none;
   }

   .hero__text{
    width: 100%;
    margin-bottom: 80px;
   }

   .hero__subtitle{
    font-size: 1.5rem;
   }

   /*about*/

   .presentation_copy{
    width: 100%;

   }

   .about{
    grid-template-columns: 1fr;

   }
   
   .about .container{
    padding-top: 30px;

   }
   .about__text:last-child{
    grid-row: 3/4;
   }

   /*My projects*/

   .projects__grid{
     grid-template-areas:
     "img1 img1 img2 img2"
     "img1 img1 img3 img3"
     "img4 img4 img5 img5"
     ;
   }
   
}